@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed&display=swap');

:root {
    --gradient: radial-gradient(circle,
        #ee9ca7,
        #ffdde1
    );
}

.logo{ 
    position:fixed; 
    padding-left: 10px;
    padding-top: 10px;
    top:0; 
    left:0; 
} 

* {
    font-family: 'Fira Sans Condensed', sans-serif;
}

body {
    color: #212121;
    background-image: var(--gradient);
    background-size: 300%;
    animation: bg-animation 60s infinite alternate;
    padding: 10px;
}

@keyframes bg-animation {
    0% {background-position: left}
    100% {background-position: right}
}

.content {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn {
    border: 0;
    padding: 0.5em 1.5em;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    transition: transform 0.3s ease;
    background-color: white;
    color: #212121;
}

.btn:hover {
    transform: translateY(-3px);
}

.paper {
    background-image: url("../images/paper-bg.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    padding: 3%;
}


input[type=file]::file-selector-button {
    display: block;
    padding: 0.5em 1.5em;
    font-family: 'Fira Sans Condensed', sans-serif;
    border-radius: 10px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #212121;
    cursor: pointer;
    transition: transform .2s ease-out;
}

label {
    display: inline-block;
    width: 100px;
    text-align: right;
  }​

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

.affi {
    position: fixed; 
    bottom: 0px; 
    right: 0px;
}